.comment {
    display: flex;
    gap: 0.8rem;
    border-bottom: 1px solid var(--gray-slate-50);
    padding-bottom: 1rem;
}
.comment-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.comment-content h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #625f87;
}
.comment-content p {
    font-size: 0.9rem;
}
.comment-meta {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--gray-slate-300);
}
