.nav {
    background: var(--blue-dark);
    color: var(--white);
    padding: 1rem;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding-top: 3rem;
}
.nav a {
    color: inherit;
    text-decoration: none;
}
.nav a.current {
    color: var(--yellow);
    padding-bottom: 0.1rem;
    border-bottom: 1px solid var(--yellow);
}
nav a.sign-up {
    color: var(--gray-slate-300);
}
.nav button {
    width: 100%;
}
.menu-content {
    padding-bottom: 2rem;
}
.menu-content,
.menu-content div {
    gap: 1.4rem;
}

@media only screen and (min-width: 600px) {
    .nav {
        padding-top: 1rem;
    }
    .nav > div {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        gap: 1rem;
    }
    .menu-burger {
        display: none;
    }
    .menu-content {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: unset;
    }
    .menu-content div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: center;
    }
}
